MINIO_EXTERNAL_URL=http://localhost:9000
MINIO_ACCESS_KEY=omotesadmin
MINIO_SECRET=password

POSTGRES_ROOT_USER=root
POSTGRES_ROOT_PASSWORD=1234
POSTGRES_PORT=6432
POSTGRES_ORCHESTRATOR_USER_NAME=omotes_orchestrator
POSTGRES_ORCHESTRATOR_USER_PASSWORD=somepass3
POSTGRES_TIMESERIES_RW_USER_NAME=omotes_timeseries_rw
POSTGRES_TIMESERIES_RW_USER_PASSWORD=somepass4
POSTGRES_TIMESERIES_RO_USER_NAME=omotes_timeseries_ro
POSTGRES_TIMESERIES_RO_USER_PASSWORD=somepass5
POSTGRES_PREFECT_USER_NAME=omotes_prefect
POSTGRES_PREFECT_USER_PASSWORD=somepass6

INFLUXDB_PORT=8096
INFLUXDB_RPC_PORT=8098
INFLUXDB_ADMIN_USER=root
INFLUXDB_ADMIN_PASSWORD=9012
INFLUXDB_WRITE_USER=write1
INFLUXDB_WRITE_USER_PASSWORD=write9012
INFLUXDB_FRONTEND_ADMIN_USER=front1
INFLUXDB_FRONTEND_ADMIN_USER_PASSWORD=front9012

PREFECT_USER_NAME=admin
PREFECT_PASSWORD=password
PREFECT_DOCKER_WORKER_NETWORKS=omotes,mapeditor-net

WORKFLOW_SETTINGS_FILE=./config/workflow_config_nwn_no_gurobi.json

OPTIMIZER_WORKER_VERSION=3.1.4
OPTIMIZER_ESDL_OUTPUT_PROFILES_TYPE=POSTGRESQL
OPTIMIZER_FLOW_MAX_CONCURRENT_RUNS=4
OPTIMIZER_GUROBI_MAX_CONCURRENT_RUNS=1
OPTIMIZER_PREFECT_FLOW_TIMEOUT_SECONDS=172800

SIMULATOR_WORKER_VERSION=0.1.3
SIMULATOR_FLOW_MAX_CONCURRENT_RUNS=4
SIMULATOR_PREFECT_FLOW_TIMEOUT_SECONDS=172800

LOG_LEVEL=INFO

VMUI_USERNAME=admin
VMUI_PASSWORD=password
